name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        nim: [2.0.14, stable]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - uses: jiro4989/setup-nim-action@v2
      with:
        nim-version: ${{matrix.nim}}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build
      run: nimble install -y
    - name: Test
      run: nimble test -y